/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("https://media.moddb.com/images/members/1/214/213414/Hangar1_JM.jpg")
}
h1 {
  color: white
}
h2 {
  color: rgb(0, 0, 0);
}


